/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Staatliches&display=swap");
:root {
    --primaryColour: #fff;
    --secondaryColour: #655892;
    --secondaryBG: #f1f1f1;

    --borderColour: #96a7b49d;

    --primaryText: #333333;
    --secondaryText: #51405c;

    --previewShadow: #444444;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Oswald", sans-serif; */
    font-family: "Staatliches", cursive;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--primaryText);
    text-shadow: 2px 4px #9f8cbd9d;
    font-weight: 500;
}

p,
a,
li,
span,
label,
input,
textarea {
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: var(--secondaryText);
}

a {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;

    text-decoration: none;
    color: var(--secondaryColour);
}

a:hover {
    text-shadow: 2px 2px #9f8cbd7e;
    color: #504577;
}

/* ul {
  list-style: none;
} */

h1 {
    font-size: 56px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
}

.s1 {
    overflow: hidden;
    background-color: var(--primaryColour);
    border-bottom: 1px solid var(--borderColour);
}

.s2 {
    background-color: var(--secondaryBG);
    border-bottom: 1px solid var(--borderColour);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}
.main-container-about {
    width: 1000px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper {
    background-color: var(--secondaryColour);
    display: grid;
}
.navbar {
    background-color: var(--secondaryBG);
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    position: fixed;
}

.nav-wrapper {
    padding-left: 250px;
    padding-right: 250px;

    height: 50px;

    grid-area: nav-wrapper;
    justify-content: space-between;
    align-items: center;
    display: flex;

    border-bottom: 1px solid var(--borderColour);
    background-color: var(--secondaryColour);
}

.nav-wrapper a {
    /* font-family: "Oswald", cursive; */
    font-family: "Staatliches", cursive;
    font-size: 20px;
    color: var(--secondaryBG);
    text-decoration: none;
}

.nav-wrapper a:hover {
    color: var(--primaryColour);
    text-decoration: none;
    text-shadow: 3px 2px #bfb1e5a1;
}

#navigation {
    margin: 0;
    padding: 10px;
    display: inline-block;
}

.nav-text li {
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
}

.left-column {
    height: 75vh;
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.img-container {
    display: grid;
}

.intro {
    padding-top: 20px;
    margin: auto;
    line-height: 1.5px;
}

.intro h2 {
    text-shadow: 3px 5px #6e6fb2;
}

#profile_pic {
    align-self: center;
    border: 1px solid var(--secondaryColour);
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    z-index: 3;
    object-fit: cover;
}

.company {
    color: var(--secondaryColour);
}

.big-cir {
    position: absolute;
    right: 10%;
    left: 80px;

    height: 260px;
    width: 260px;
    border-radius: 50%;

    margin: 0 auto;
    background-image: linear-gradient(
        180deg,
        rgb(126, 126, 163),
        rgb(100, 79, 134)
    );
    display: block;
}

.right-column {
    height: 75vh;
    margin: 0 auto;

    grid-area: right-column;
    display: grid;
    align-content: center;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview {
    height: 100%;
    display: grid;
    padding: 15px;
    position: relative;
}

.line {
    width: 300px;
    padding: 1px;
    background-color: var(--secondaryColour);
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    margin-left: -16px;
    overflow: hidden;
}

.social-item {
    padding-left: 0;
    float: left;
}

.social-item a {
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;

    color: var(--secondaryText);
    padding-top: 10px;
    font-size: 24px;
    display: block;
    text-align: center;
    padding-right: 16px;
    text-decoration: none;
}

.social-item a:hover {
    color: var(--secondaryColour);
}

.about-wrapper {
    font-size: 20px;
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}

.btn {
    /* font-family: "Oswald", cursive; */
    font-family: "Staatliches", cursive;
    font-size: 18px;

    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
    text-shadow: 3px 5px rgba(189, 192, 230, 0.74);

    color: var(--primaryText);
    width: fit-content;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(149, 117, 168);
}

.btn:hover {
    color: #444;
    text-shadow: 3px 5px rgb(200, 189, 230);
    background-color: #8d63be;
}

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 60px;
}

.post {
    border: 2px solid var(--secondaryColour);
    -webkit-box-shadow: -2px 7px 10px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 7px 10px -7px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 7px 10px -7px rgba(0, 0, 0, 0.75);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
}

.post-preview {
    background-color: #ffffff;
    padding: 20px;
}

.post-title {
    margin: 0;
}

.post-intro {
    color: #4b5156;
}

@media screen and (max-width: 1200px) {
    .line {
        width: 25 0px;
    }
    .main-container {
        width: 95%;
    }

    .nav-wrapper {
        padding-left: 100px;
        padding-right: 100px;
    }

    .about-me {
        padding: 10px;
    }

    .main-container-about {
        overflow: hidden;
        width: 95%;
    }

    .big-cir {
        position: absolute;
        right: 0%;
        right: 130px;

        height: 260px;
        width: 260px;
        border-radius: 50%;

        margin: 0 auto;
        background-image: linear-gradient(
            180deg,
            rgb(126, 126, 163),
            rgb(100, 79, 134)
        );
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav-wrapper"
            "left-column"
            "right-column";
    }

    .about-wrapper {
        gap: 0px;
    }

    .about-me {
        padding: 5px;
    }

    .right-column {
        justify-content: center;
    }

    .intro h2 {
        white-space: nowrap;
    }

    .nav-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
        display: flex;
        grid-area: nav-wrapper;
    }

    .big-cir {
        position: absolute;
        right: 100%;
        left: 30px;

        height: 260px;
        width: 260px;
        border-radius: 50%;

        margin-top: 0;
        margin-bottom: 0;
        margin-left: -15px;

        background-image: linear-gradient(
            180deg,
            rgb(126, 126, 163),
            rgb(100, 79, 134)
        );
        /* display: block; */
    }
}

@media screen and (max-width: 400px) {
    #preview-shadow {
        max-width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #preview {
        width: 280px;
    }

    .nav-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
        display: flex;
        grid-area: nav-wrapper;
    }
    .intro h3 {
        text-size-adjust: auto;
        font-size: 24px;
        margin: 24px 0;
    }

    .intro p {
        font-size: 16px;
    }
}
