@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Staatliches&display=swap");

:root {
  --primaryColour: #eeeeee;
  --secondaryColour: #00b4d8;
  --secondaryBG: #e0e0e0;

  --borderColour: #96a7b49d;

  --primaryText: #333333;
  --secondaryText: #355157;

  --previewShadow: #444444;
  --buttonColor: black;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Staatliches", cursive;
  color: var(--primaryText);
  font-weight: 500;
}

p,
a,
li,
span,
label,
input,
textarea {
  font-family: "Open Sans", sans-serif;
  color: var(--secondaryText);
}

a {
  text-decoration: none;
  color: var(--secondaryColour);
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.s1 {
  overflow: hidden;
  background-color: var(--primaryColour);
  border-bottom: 1px solid var(--borderColour);
}

.s2 {
  background-color: var(--secondaryBG);
  border-bottom: 1px solid var(--borderColour);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColour);
  display: grid;
}
.navbar {
  background-color: var(--secondaryBG);
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  position: fixed;
}
.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColour);
  display: flex;
  align-items: center;
  background-color: var(--secondaryBG);
}

#navigation {
  margin: 0;
  padding: 10px;
  display: inline-block;
}

.left-column {
  height: 75vh;
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-container {
  display: grid;
}

.intro {
  margin: auto;
  line-height: 1.5px;
}

#profile_pic {
  align-self: center;
  border: 2px solid var(--secondaryColour);
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  z-index: 3;
  object-fit: cover;
}

.company {
  color: var(--secondaryColour);
}

.big-cir {
  position: absolute;
  right: 20%;
  left: 100px;

  height: 260px;
  width: 260px;
  border-radius: 50%;

  margin: 0 auto;
  background-color: var(--secondaryColour);

  display: block;
}

.right-column {
  height: 75vh;
  width: 50%;
  margin: 0 auto;

  grid-area: right-column;
  display: grid;
  align-content: center;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}

#preview {
  height: 100%;
  display: grid;
  padding: 15px;
  position: relative;
}

.line {
  width: 300px;
  padding: 1px;
  background-color: var(--secondaryColour);
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-item {
  padding-left: 0;
  float: left;
}

.social-item a {
  color: var(--secondaryText);
  padding-top: 10px;
  font-size: 24px;
  display: block;
  text-align: center;
  padding-right: 16px;
  text-decoration: none;
}

.social-item a:hover {
  color: var(--secondaryColour);
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}

#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}

.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}

#social_img {
  width: 100%;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;

  padding-bottom: 50px;
}

.post {
  border: 2px solid var(--secondaryColour);
  -webkit-box-shadow: -2px 7px 10px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 10px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 10px -7px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  background-color: #ffffff;
  padding: 20px;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  color: #4b5156;
}

#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--primaryColour);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColour);
  border-radius: 5px;
  border: 1px solid var(--borderColour);
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
  .big-cir {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  .right-column {
    justify-content: center;
  }

  .intro h2 {
    white-space: nowrap;
  }
}

@media screen and (max-width: 400px) {
  #preview-shadow {
    max-width: 280px;
    height: 180px;
    padding-left: 10px;
    padding-top: 10px;
  }

  #preview {
    width: 280px;
  }
}
